<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/public/stylesheets/editStyle.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <title>new job</title>
</head>
<body>
    
    <div class="header">
        <div class="logo">
            <a href="/jobs">
                <img src="/public/stylesheets/company-logo.png" alt="company Logo" />
            </a>
        </div>
        <div class="title">
            <h1>Careers at Bula</h1>
        </div>
        <div class="title">
            <img src="/public/stylesheets/user-logo.png" alt="user Logo" />
            <h1><%= currentUser.username %></h1>
        </div>
    </div>
    <br>
    <form action="/jobs/<%=job._id%>?_method=PUT" method="POST">
        <h1>Edit Job details</h1>
        <label for="title">Job Title</label>
        <input type="text" placeholder="Job Title" value="<%=job.title%>" name="title" required>


        <label for="description">Job Description</label>
        <input type="text" placeholder="Job Description" value="<%=job.description%>" name="description" required>


        <label for="location">Location</label>
        <select name="location" id="location">
            <option value="chennai">Chennai</option>
            <option value="bangalore">Bangalore</option>
        </select>


        <label for="deadline">Application deadline:</label>
        <input type="date" id="deadline" value="<%=job.deadline%>" name="deadline">


        <label for="phone">Contact phone number:</label>
        <input type="number" placeholder="phone number" value="<%=job.phone%>" name="phone" required>


        <label for="email">Contact email</label>
        <input type="email" placeholder="email" value="<%=job.email%>" name="email" required>


        <button type="submit">Confirm edit</button>
    </form>
    <a href="/jobs">Cancel Edit </a>
</body>
</html>