<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/public/stylesheets/showStyle.css">
    <title><%= job.title %></title>
</head>
<body>
    <div class="header">
        <div class="logo">
            <a href="/jobs">
                <img src="/public/stylesheets/company-logo.png" alt="company Logo" />
            </a>
        </div>
        <div class="title">
            <h1>Interested Applicants</h1>
        </div>
        <div class="title">
            <img src="/public/stylesheets/user-logo.png" alt="user Logo" />
            <h1><%= currentUser.username %></h1>
        </div>
    </div>
        <div class="container">
        
        <a class="button" href="/jobs">Back to all Jobs</a>
    </div>
    <div class="container">
        <ul class="sortable-list">
            <li><strong>Title:</strong><%= job.title%> </li>
            <li><strong>Description:</strong><%= job.description%> </li>
            <li><strong>Email:</strong><%= job.email%> </li>
            <li><strong>Interested Applicants:</strong><%= job.interestedApplicants%> </li>        
                
        </ul>
            <div class="button-group">
             
        </div>
    </div>
</body>
</html>